{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block content %}


<div class="w3-row">
{% include 'include/sidebar.html'  %}
    
    <!-- Blog entries -->
    <div class="w3-col l8 s12">

        <!-- Blog entry -->
        {% for post in posts %}
        <div class="w3-card-4 w3-margin w3-white">
            {% if post.banner %}
            <img src="{{ post.banner.url }}" class="center" alt="" style="width:50%">
            {% else %}
                <img src="{% static 'posts/workshop.jpg' %}" class="center" alt="" style="width:100%">
            {% endif %}
            <div class="w3-container">
                <h3><b>{{ post.title }}</b></h3>
                <h5 class="text-right">{{ post.author }} | <span class="w3-opacity">{{ post.date }}</span></h5>
            </div>

            <div class="w3-container">
                <p>{{ post.body|truncatechars:50 }}.</p>
                <div class="w3-row">
                    
                    {% comment %} <p class="text-right"> {{ post.total_views }} Views</p> {% endcomment %}
                    <div class="w3-col m8 s12">
                    {% comment %} <p><a href="{% url 'Post_detail' post.slug %}"
                                class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE</a></p> {% endcomment %}

                    {% for tag in post.tags.all %}
                        <a href="{% url 'Post_tag' tag.slug %}" class="badge badge-info">{{ tag.name }}</a>
                    {% endfor %}



                        <form action="{% url 'Post_detail' post.slug %}" method="get">
                            <input type="hidden" name="slug" value="{{ post.slug }}">
                            <button type="submit" class="btn btn-sm btn-primary">Read more</button> 
                        </form> 





                    </div>
                    <div class="w3-col m3 w3-hide-small w3-right">
                        <p><span class="w3-padding-large w3-right"><b>Views  </b> <span
                                    class="w3-tag">{{ post.total_views }}</span></span></p>
                        <p><span class="w3-padding-large w3-right"><b>Likes  </b> <span
                                    class="w3-tag">{{ post.total_likes }}</span></span></p>
                        <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span
                                    class="w3-tag">{{ post.comments.count }}</span></span></p>
                    </div>
                    
                </div>
            </div>
        </div>
        <hr>
        
        {% endfor %}
    </div>

</div>

{% include 'include/footer.html' %}
{% endblock %}
