{% extends 'base.html' %}

{% block titile %}Home{% endblock %}

{% block content %}

    <div class="text-center">
        <h1 class="display-4">Blog app</h1>
        <p class="lead">A Blog built with Django.</p>
        {% if user.is_authenticated %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'Post_list' %}"
                role="button">View All Posts</a>
            </p>
        {% else %}
            <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}"
                    role="button">Need AUTH</a>
                </p>
        {% endif %}
         {% include 'include/footer.html'%}
    </div>
   

{% endblock %}